.head {
    background-color: #5e23b1;
    height: 35px;
}

#carouselExample {
    height: 690px;
    /* background-image: url("../../images/img1.png"); */
    /* background-size: 100% auto; */
    background-color: #deddde;
}

.hero {
    background-image: url("../../images/img2.png");
    background-size: cover;
    background-attachment: scroll;
    background-color: aquamarine;
    height: 1800px;
    z-index: 1;
}

.head-container {
    position: absolute;
    /* margin: 100px; */
    left: 50px;
    width: auto;
    z-index: 3;
}

.text {
    color: #5e23b1;
    position: relative;
    font-size: 50px;
    text-align: right;
    bottom: 570px;
    right: 20px;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bold; */
}

.image-card {
    position: relative;
    font-size: 50px;
    text-align: center;
    bottom: 570px;
    left: 50%;

}

.image-card img {
    width: 50%;
    height: 50%;
    border-radius: 10%;
}

.h5 {
    color: #5d24b2;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: bold;
}

.text span {
    font-weight: 1200px;
}

.social-media {
    color: #5e23b1;
    position: relative;
    /* font-size: 50px; */
    text-align: left;
    bottom: 80px;
    left: 70px;
    /* left: ;: 20px; */
    font-weight: bolder;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.image-card {
    flex: 0 0 33.33%;
    /* Three cards in the first row */
    max-width: 33.33%;
    margin: 10px;
    /* Adjust the margin as needed for spacing */
}

/* For smaller screens, show two cards in a row */
@media (max-width: 768px) {
    .image-card {
        flex: 0 0 50%;
        /* Two cards in the first row */
        max-width: 50%;
    }
}

/* For even smaller screens, show one card in a row */
@media (max-width: 576px) {
    .image-card {
        flex: 0 0 100%;
        /* One card in the row */
        max-width: 100%;
    }
}




.topnav {
    overflow: hidden;

}

.navbar-nav {
    color: #5d24b2;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #5e23b1;
    text-align: center;
    /* font-family: ; */
    font-weight: bolder;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* nav bar */
.carousel-control-prev-icon {
    color: #5d24b2;
}

.hero-img img:first-child {
    position: relative;
    width: 50%;
    bottom: 200px;
}

/* button  */
.Register-btn {
    position: relative;
    height: 120px;
    width: 20%;
    margin: 0 auto;
    left: 35%;
    /* Center the button */
    text-align: center;
    bottom: 270px;
}

/* .Register-btn button {
    text-align: center;
    padding: 10px 30px;
    margin: auto;
    color: #fff;
    font-size: 15pt;
    height: 70px;
    border-radius: 20%;
    /* font-family: ; */
/* font-weight: bolder;
    background-color: #5d24b2; */
/* } */

.Register-btn button i {
    position: relative;
    font-size: 30px;
    color: #5d24b2;
    z-index: 9;
    /* top: 9px; */
    left: 5px;
    margin: auto;
    background-color: #dcd2e7;
    border-radius: 60%;

}

.Register-btn button {
    background-color: #5d24b2;
    border-radius: 20px;
    border: 8px solid #dcd2e7;
    text-align: left;
    width: 90%;
    height: 50%;
    color: #fff;
    font-size: 15pt;
    font-weight: bolder;
    padding-left: 4px;

    /* Adjusted to take full height */
}

.img-h {
    height: 1000px;
}


.border {
    border-radius: 10px 10px 0px 0px;
}

.text-box {
    z-index: 9;
    background-color: #5d24b2;
    color: #fff;
    font-size: 15pt;
    width: 25%;
    /* height: %; */
    padding: 50px;
    /* Adjust positioning based on your layout */
    bottom: 200px;
    left: 100px;
    position: relative;
    border-radius: 50px;
}

.break {
    border: 20px solid #5d24b2;
    line-height: 20px;
}

/* .card {
    left: 1050px;
    bottom: 1000px;
} */

.services {
    background-image: url("../../images/img5.png");
    background-size: contain;
    background-position: 0px 0px;
    background-attachment: scroll;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    font-family: 'Montserrat',
        sans-serif;
}

.services h2 {
    background-color: #5d24b2;
    color: #fff;
    font-size: 25pt;
    width: 25%;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    top: 200px;
    left: 100px;
    position: relative;
    font-family: 'Montserrat', sans-serif;

}

.services ol {
    color: #5d24b2;
    font-size: 15pt;
    width: 35%;
    padding: 50px;
    text-align: center;
    border-radius: 50px;
    top: 200px;
    left: 100px;
    position: relative;
    font-family: 'Montserrat',
        sans-serif;
}

footer {
    background-color: #5d24b2;
    height: 130px;
    color: white;
    /* margin: auto; */
    position: relative;
    font-family: 'Montserrat',
        sans-serif;

}

footer p {

    padding-left: 20px;
    /* margin-top: 50px; */
}

/* register page */
.login,
.register {
    width: 50%
}

/*Start Login Style*/
.login {
    float: left;
    background-color: #fafafa;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding-top: 100px;
}

.login h1 {
    margin-bottom: 40px;
    font-size: 2.5em;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
}

input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.login span {
    float: left
}

.login a {
    float: right;
    text-decoration: none;
    color: #000;
    transition: 0.3s all ease-in-out;
}

.login a:hover {
    color: #9526a9;
    font-weight: bold
}

.login button {
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    border: none;
    background-color: #9526a9;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.login button:hover {
    width: 97%;
    font-size: 22px;
    border-radius: 5px;

}

.login hr {
    width: 30%;
    display: inline-block
}

.login p {
    display: inline-block;
    margin: 0px 10px 30px;
}

.login ul {
    list-style: none;
    margin-bottom: 40px;
}

.login ul li {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}

.login ul li:hover {
    opacity: 0.6
}

.login ul li:last-child {
    margin-right: 0
}

.login .copyright {
    display: inline-block;
    float: none;
}

/*Start Register Style*/
.register {
    float: right;
    background-image: linear-gradient(135deg, #23212f 5%, #9526a9 95%);
    height: 100%;
    color: #fff;
    border-radius: 0 10px 10px 0;
    text-align: center;
    padding: 100px 0;
}

.register h2 {
    margin: 30px 0;
    font-size: 50px;
    letter-spacing: 3px
}

.register p {
    font-size: 18px;
    margin-bottom: 30px;
}

.register button {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
}

.register button:hover {
    color: #9526a9;
    background-color: #fff;
    cursor: pointer;
}

/* end of register page */
